.toolbar-container {
  left: 0;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: black;
  height: 100%;
  width: 6rem;
}

.category-icons {
  margin: auto;
}

.settings-icon {
  margin: 3rem auto;
}
