#toolbar-root {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.toolbar-container {
  left: 0;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: black;
  height: 100%;
  width: 6rem;
}

.category-icons {
}
.settings-icon {
  margin: auto auto 3rem;
}
