.title-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 66%;
  margin: 3rem auto auto;
}

.title-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 133%;
  letter-spacing: 0.66;
}
