.title-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 40%;
  line-height: 150%;
  opacity: 0.66;
  margin: 6rem auto auto;
  pointer-events: none;
}

.title-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 133%;
  width: 1rem;
}
